
*{
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/pattern.jpg);
}

header {
  height: 50px;
  background-color: white;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

#logo {
  float: left;
}

ul {
  list-style-type: none;
  float: right;
}

ul a{
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
}

section {
  width: 80%;
  margin: 100px auto 15px auto ;
  padding: 20px;
  background-color: white;
} 

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

#article-list {
  margin: 20px auto;
}

article {
  border-bottom: 2px solid black;
}

article p {
  padding-bottom: 10px;
}

article a h3 {
  padding-top: 20px;
  padding-bottom: 15px;
}

footer {
  background-color: black;
  height: 50px;
}

h5 {
  padding: 16px 10px;
  text-align: center;
  color: white;
}